include partial/head
link(rel='stylesheet' href='/static/style/dashboard.css')
body(class="bg-dark text-light")
    include partial/sidebar

    div.content(class='ps-5')
        h2(class='my-4 text-center') 404 Page Not Found
    include partial/footer