div.sidebar
    a(class='mx-4 mb-4 btn btn-outline-danger ' href='/users/logout') Logout
    h2 Admin
    ul
        li
            a(href='/users/dashboard') Dashboard
        li
            a(href='/products') Products
        li
            a(href='/customers') Customers
        li
            a(href='/orders') Orders