include ../partial/head
link(rel='stylesheet' href='/static/style/register.css')
body(class="bg-dark text-light")
    div(class='login-container')
        h2 Register
        if !!message
            div(class=`alert alert-${status}` role="alert")=message
        form(action='/users/register' method='post')
            input(type='text' name='email' placeholder='Please enter email' required)
            input(type='password' name='password' placeholder='Please enter password' required)
            input(type='text' name='name' placeholder='Please enter name' required)
            input(type='submit' value='Register')
    include ../partial/footer